@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');

#root { 
  height: 100vh;
}

.App {
  text-align: center;
  height: 100vh; 
  position: relative; 
  margin-top: 0 !important;
}

.title{ 
  font-family: 'Bungee Shade', cursive;
}

.title-layer{ 
  margin-top: 0;
  z-index: 1; 
  background-color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}